@page "/"
@rendermode InteractiveServer
@using SampleCalssifiedEmailFilter.Services
@inject IEmailFilter EmailFilterService
@inject IEmailService EmailService

<h3>ClassifiedEmail</h3>

@if (warninngMessage.Length > 0)
{
    <div class="alert alert-warning">
        <strong>Warning!</strong> @warninngMessage.
    </div>
}
<div class="form-group">
    <label for="classifiedText">Classified Text:</label>
    <input type="text" class="form-control" id="classifiedText" @bind="ClassifiedText" />
</div>
<div class="form-group">
    <label for="emailText">Email Text:</label>
    <textarea class="form-control" id="emailText" @bind="EmailText"></textarea>
</div>
<br />
<button class="btn btn-primary" @onclick="FilterEmail">Filter</button>
<br />
<br />
@if (IsClassified)
{
    <div class="alert alert-warning" role="alert">
        This email contains classified information.
    </div>
}

@if (!string.IsNullOrEmpty(CensoredText))
{
    <div class="form-group">
        <label for="censoredText">Censored Text:</label>
        <textarea class="form-control" id="censoredText" readonly>@CensoredText</textarea>
    </div>
}

@code {
    private string warninngMessage = "";
    private string ClassifiedText { get; set; }
    private string EmailText { get; set; }
    private bool IsClassified { get; set; }
    private string CensoredText { get; set; }

    private async Task FilterEmail()
    {
        try
        {
            if (string.IsNullOrEmpty(ClassifiedText) || string.IsNullOrEmpty(EmailText))
            {
                warninngMessage = "Please enter classified text and email text.";
                return;
            }

            var classifiedWords = !string.IsNullOrWhiteSpace(ClassifiedText)
            ? ClassifiedText.Split(new[] { ' ', ',', ';' }, StringSplitOptions.RemoveEmptyEntries)
            : Enumerable.Empty<string>();

            var (isClassified, censoredText) = await EmailFilterService.FilterEmailBodyAsync(classifiedWords.ToList(), EmailText);
            IsClassified = isClassified;
            CensoredText = censoredText;
        }
        catch (Exception ex)
        {
            warninngMessage = ex.Message;
        }

    }

    // send email using email service
    private async Task SendEmail()
    {
        try
        {
            if (string.IsNullOrEmpty(EmailText))
            {
                warninngMessage = "Please enter email text.";
                return;
            }

            //sample email sending with filter
            await EmailService.SendEmailWithFilterAsync("Test Email", EmailText, new string[] { "recipient@example.com" });
        }
        catch (Exception ex)
        {
            warninngMessage = ex.Message;
        }
    }
}
